.mainContent{
    background-image: url('../../../img/pergaminho3.jfif');
    background-size: cover;
    font-family: 'Young Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 600px;
    margin: auto;
  
    position: relative;
    top: -340px;
    right: -97px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.396);
}

.mainTitle{
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #a07e28;
}

.subTitle{
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #463615;
    text-decoration: underline;
}

.content{
    font-size: 1em;
    color: #261e0e;
    text-indent: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
}

.content::first-letter{
    text-transform: uppercase;
    font-size: 1.5em;
}

.especialContent{
    color: red;
    font-size: 1.4em;
}