.regrasContent{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 600px;
    height: 100%;
    margin: auto;
    position: relative;
    top: -340px;
    right: -97px;
    background-color:  antiquewhite;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.396);
 
}