
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    margin-left: 23px;   
}

.itens{
    margin: 10px;
    font-family: 'Croissant One', cursive;
}


.itens span{
    justify-content: center;
    align-items: center;
    color: goldenrod;
    font-size: 1em;
    transition: .5s;
    opacity: 0;
    
}

.itens a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    transition: .5s;
    
    
}

.itens a:hover{
    color: goldenrod;
    font-size: 1.5em;
    text-shadow: 1px 1px  5px goldenrod;
    opacity: 1;
    text-decoration: underline;
}

.itens a:hover span {
    opacity: 1;
}

@media screen and (max-width: 600px) {
 
}