.mainContent{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 600px;
    margin: auto;
    position: relative;
    top: -340px;
    right: -97px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.396);
 
}

@media screen and (max-width: 450px) {
    
    .mainContent{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 300px;
        margin: auto;
        position: relative;
        top: 0px;
        right: -40px;
        border-radius: 20px;
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.396);
     
    }
}
