.contentItens{
    display: flex;
    flex-wrap: wrap;

    width: 600px;
    margin: auto;
    position: relative;
    top: -340px;
    right: -97px;
    background-image:  url('../../../img/pergaminho3.jfif');
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.396);
 
}