.contentItens{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 30px 0px;
    width: 600px;
    margin: auto;
    position: relative;
    top: -340px;
    right: -97px;
    background-image:  url('../../../img/pergaminho3.jfif');
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.396);
 
}

@media screen and (max-width: 450px){

    .contentItens{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 210px;
        margin: auto;
        position: relative;
        top: 0px;
        right: -40px;
        border-radius: 20px;
        box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.396);
    }
}