* {
  margin: 0;
  padding: 0;
}



html {
  display: flex;
  justify-content: center;
  background-image: url('./img/conanbg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -50px;
}

