* {
  margin: 0;
  padding: 0;
}



html {
  max-width: 2000px;
  display: flex;
  justify-content: center;
  background-image: url('./img/conanbg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;  
}
