* {
  margin: 0;
  padding: 0;
}



body {
  max-width: 2000px;
  display: flex;
  justify-content: center;
  background-image: url('./img/conanbg5.PNG');
  background-size: cover;
  background-position-x: -500px;
  background-repeat: no-repeat;  
}
